<div class="border rounded p-4 d-flex flex-column justify-content-center align-items-center">

<h2 class="fw-light">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field mt-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mt-1 form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:email).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Email")&.last %></span>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name", class: 'mt-1 form-control'  %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:name).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Name")&.last %></span>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobile_no, autocomplete: "mobile-number", class: 'mt-1 form-control'  %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:mobile_no).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Mobile no")&.last %></span>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :password %> <i class="text-info">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'mt-1 form-control'  %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:password).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Password")&.last %></span>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mt-1 form-control'  %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:password_confirmation).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Password")&.last %></span>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :current_password %> <i class="text-info">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'mt-1 form-control'  %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:current_password).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Current password")&.last %></span>
    <% end %>
  </div>

  <div class="actions mt-3 d-grid">
    <%= f.submit "Update", class: "btn btn-warning"  %>
  </div>
<% end %>

<h3 class="fw-light mt-5">Cancel my account</h3>

<div><%= button_to "Delete account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back, class: "mt-4" %>
</div>