<div class="d-flex flex-column justify-content-center align-items-center">
<div class="border rounded p-4 d-flex flex-column justify-content-center align-items-center">

<h2 class="fw-light">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field mt-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter email', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:email).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Email")&.last %></span>
      <% break %>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :password %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Enter password', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:password).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Password")&.last %></span>
      <% break %>
  <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Enter password', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:password_confirmation).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Password")&.last %></span>
      <% break %>
  <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name", placeholder: 'Enter name', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:name).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Name")&.last %></span>
      <% break %>
  <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label "Mobile Number" %><br />
    <%= f.text_field :mobile_no, autocomplete: "mobile-number", placeholder: 'Enter mobile number', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:mobile_no).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Mobile no")&.last %></span>
      <% break %>
  <% end %>
  </div>

  <div class="actions mt-3 d-grid">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>