<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ecom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link text-white" %>
        </li>

      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link text-white" %></li>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-white" %></li>
        <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_user_session_url, class: "nav-link text-white" %></li>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-white" %></li>
            <li class="nav-item"><%= link_to "Cart", "#", class: "nav-link text-white" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

