<div class="d-flex flex-column justify-content-center align-items-center">
<div class="border rounded p-4 d-flex flex-column justify-content-center align-items-center">

<h2 class="fw-light">Forgot Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field mt-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter email', class: 'mt-1 form-control' %>
  </div>

  <div class="error-field mt-2">
    <% @user.errors.full_messages_for(:email).each do |error_message| %>
      <span class="text-danger"><%= error_message.split("Email")&.last %></span>
    <% end %>
  </div>

  <div class="actions my-3 d-grid">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>