<% if user_signed_in? %>
  <div> Welcome <%= current_user.name %> </div>
  <%= link_to "Edit Profile", edit_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign in", new_user_session_url %>
<% end %>