<div class="d-flex flex-column justify-content-center align-items-center">
<div class="border rounded p-4 d-flex flex-column justify-content-center align-items-center">
<h2 class="fw-light">Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter email', class: 'mt-1 form-control' %>
  </div>

  <div class="field mt-3 position-relative">
    <%= f.label :password %>
    <%= link_to "Forgot Password?", new_password_path(resource_name), class: "position-absolute end-0 text-decoration-none" %>
    <br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Enter password', class: 'mt-1 form-control' %>
  </div>

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field mt-3">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

  <div class="actions mt-3 d-grid">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="mt-3 text-small">
  <span>Don't have an account?</span><%= link_to "Create One", new_registration_path(resource_name), class: 'text-decoration-none' %><br />
</div>
</div>
</div>