<div class="row">
  <div class="col-md-3">
    <h2>Categories</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "All", products_path %>
      </li>
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <%= link_to category.name, products_path(category: category) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row row-cols-1 row-cols-md-4">
      <% @products.each do |product| %>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="h-100">
              <%= image_tag(product.images.first, class: "card-img-top", alt: product.name) if product.images.attached? %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description[0..20] + "..." %></p>
              <p class="card-text">Price: $<%= product.price %></p>
              <%if product.quantity > 1 %>
                <p class="text-success">Available</p>
              <%else %>
                <p class="text-warning">Out of stock</p>
              <%end %>
              <%= link_to "More...", product_path(product), class: "btn btn-primary" %>
              <%= link_to "Add to cart", product_path(product), class: "btn btn-success" unless product.quantity < 1 %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>