<!-- app/views/products/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="product-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
          <% img_length = 0 %>
          <% @product.images.each_with_index do |image, index| %>
            <% img_length += 1 %>
            <div class="carousel-item<%= ' active' if index.zero? %>">
              <%= image_tag image, class: "d-block w-100", alt: "Product Image #{index + 1}" %>
            </div>
          <% end %>
        </div>
        <% if img_length > 1 %>
          <a class="carousel-control-prev" href="#product-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#product-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Product details -->
      <h2><%= @product.name %></h2>
      <p><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>Price:</strong> $<%= @product.price %></p>
      <%if @product.quantity > 1 %>
        <p class="text-success">Available</p>
      <%else %>
        <p class="text-warning">Out of stock</p>
      <%end %>
      <div class="d-flex flex-row justify-content-between">
        <%= link_to "Add to cart", product_path(@product), class: "btn btn-success" unless @product.quantity < 1 %>
        <div class="review-sort-dropdown">
          <%= button_tag(class: 'btn btn-secondary dropdown-toggle', type: 'button', id: 'dropdownMenuButton1', 'data-bs-toggle' => 'dropdown', 'aria-expanded' => 'false') do %>
            Sort by
          <% end %>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to 'Latest', product_path(@product,review: "latest"), class: "dropdown-item" %></li>
            <li><%= link_to 'Low to High', product_path(@product,review: "low_to_high"), class: "dropdown-item" %></li>
            <li><%= link_to 'High to Low', product_path(@product,review: "high_to_low"), class: "dropdown-item" %></li>
          </ul>
        </div>
      </div>
      <!-- Back button to return to the products list -->
      <%= link_to "Back to Products", products_path, class: "d-block mt-2" %>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">By</th>
          <th scope="col">Added at</th>
        </tr>
        </thead>
        <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.title %></td>
            <td><%= review.description %></td>
            <td><%= rating_stars(review.rating) %></td>
            <td><%= review.review_by %></td>
            <td><%= review.created_at %></td>
            <% if review.user_id == current_user&.id %>
            <td><%= link_to "edit", edit_product_review_path(@product, review), remote: true %></td>
            <td><%= link_to "delete", product_review_path(@product, review), data: { turbo_method: :delete, confirm: "Are you sure!" } %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "Add review", new_product_review_path(@product), remote: true, class: "btn btn-primary" %>
      <div id="review-target"></div>
    </div>
  </div>
</div>

<style>
    .carousel-control-prev,
    .carousel-control-next {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        height: 50px;
        width: 50px;
        margin: auto;
        border-radius: 50%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: transparent;
    }
    .star-rating {
        font-size: 24px;
        cursor: pointer;
        color: gray;
    }

    .star-rating.active {
        color: gold;
    }

</style>

<style>
    .star {
        font-size: 24px;
        cursor: pointer;
        color: gray;
    }

    .star.active {
        color: gold;
    }

    /*.star.hover {*/
    /*    color: gold;*/
    /*}*/

    .rating {
        display: flex;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        $(document).on('click','.star', function() {
            const rating = $(this).data('value');
            $('#rating').val(rating);
            updateStars(rating);
        });

        function updateStars(rating) {
            $('.star').removeClass('active');
            $('.star:lt(' + rating + ')').addClass('active');
        }

    });
</script>