<h2>Review</h2>
<%= form_for([product, review]) do |form| %>
  <p>
    <%= form.label :title, for: :review_title %>
    <%= form.text_field :title, presence: true, id: :review_title, class: "form-control" %>
    <% if flash[:error].present? && flash[:error]["title"].present? %>
      <div class="error text-danger">
        <%= flash[:error]["title"].join(', ') %>
      </div>
    <% end %>
  </p>
  <p>
    <%= form.label :description, for: :review_description %>
    <%= form.text_area :description, presence: true, id: :review_description, class: "form-control" %>
    <% if flash[:error].present? && flash[:error]["description"].present? %>
      <div class="error text-danger">
        <%= flash[:error]["description"].join(', ') %>
      </div>
    <% end %>
  </p>
  <div class="rating d-block mb-3">
    <%= form.label :rating %>
    <span class="star" data-value="1">&#9733;</span>
    <span class="star" data-value="2">&#9733;</span>
    <span class="star" data-value="3">&#9733;</span>
    <span class="star" data-value="4">&#9733;</span>
    <span class="star" data-value="5">&#9733;</span>
    <%= form.hidden_field :rating, presence: true, id: "rating" %>
    <% if flash[:error].present? && flash[:error]["rating"].present? %>
      <div class="error text-danger">
        <%= flash[:error]["rating"].join(', ') %>
      </div>
    <% end %>
  </div>
  <%= form.hidden_field :user_id, presence: true, value: current_user&.id %>
  <p><%= form.submit class: "btn btn-primary"%></p>
<% end %>
