$("#review-target").html("<%=j render partial: "reviews/form", locals: { product: @product, review: @review } %>");
const rating = $('#rating').val();
updateStars(rating);

function updateStars(rating) {
    $('.star').removeClass('active');
    $('.star:lt(' + rating + ')').addClass('active');
}