<!DOCTYPE html>
<html>
  <head>
    <title>EcomDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: 'partials/header' %>
  <p class="notice text-success"><%= notice %></p>
  <% if alert.present? %>
    <p class="alert text-danger" style="background-color: #F8D7DA"><%= alert %></p>
  <% end %>
  <div class="h-100">
    <%= yield %>
  </div>
  <div class="footer">
    <%= render partial: 'partials/footer' %>
  </div>
  </body>
</html>
